/* CSS BY Brian Husk */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    /*typography*/
    --main-font: 'Playfair Display', 'Arial', sans-serif;

    /*colors*/
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */

/*Global Body Styles*/
body {
    max-width: 450px;
    font-family: var(--main-font);
    font-size: 1em;
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    margin: 0 auto;
}

/*Global Header Styles*/
header {
    background-color: var(--midnight-blue);
    text-align: center;
}

header img {
    max-width: 175px;
    padding: 16px 0;
}

header h1 {
    font-size: 3.5em;
    font-weight: 700;
    padding-bottom: 26px;
}

header p {
    font-size: 1.1em;
    font-style: italic;
    padding-bottom: 26px;
}

header h1, header p {
    color: var(--soft-white);
}

header nav {
    background-color: var(--champagne-gold);
    padding: 13px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 1.32em;
    font-weight: 800;
    color: var(--midnight-blue);
}

nav a:hover {
    color: var(--linen);
}

/*Global Main Styles*/
main {
    padding: 13px;
}

main section {
    border-bottom: 2px solid var(--champagne-gold);
}

main h2 {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--midnight-blue);
    padding: 32px 0 7px 0;;
}

section > p {
    font-size: .9em;
    font-weight: 500;
    line-height: 1.45;
    padding-bottom: 23px;
}

section > ul {
    display: flex;
    flex-direction:column;
    gap: 13px;
    padding: 15px 0 20px 0;
}

section li {
    background-color: var(--olive-green);
    border-radius: 8px;
    color: var(--soft-white);
    padding: 15px;
    box-shadow: 0 2px 5px #818181;
}

li h3 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px 0;
}

li > p {
    font-size: .9em;
    line-height: 1.45;
    margin: 0;
}

section li ul {
    display: block;
    list-style: disc;
    padding: 0 0 0 10px;
}

section li ul li {
    font-size: .9em;
    line-height: 1.45;
    padding: 0 0 0 3px;
    box-shadow:0 0;
}

/*Global Footer Styles*/
footer {
    text-align: center;
    background-color: var(--midnight-blue);
    padding: 58px 0 30px 0;
}

footer address {
    font-size: .85em;
    font-weight: 400;
    color: var(--soft-white);
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: var(--soft-white);
}

footer a:nth-of-type(2) {
    display: inline-block;
    color: var(--champagne-gold);
    font-weight: 600;
    padding-bottom: 40px;
}

footer a:nth-of-type(3) {
    color: var(--champagne-gold);
    font-weight: 600;
}

footer a:nth-of-type(4) {
    color: var(--champagne-gold);
    font-weight: 600;
}


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px) {
  /* CSS rules go here */
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
  /* CSS rules go here */
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px) {
  /* CSS rules go here */
}
